@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

h1 {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', serif;
	text-align: center;
}

body{
	background-color: 
	padding: 1em;
	font-size: 20px;
	font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', serif;

}

p{
	background-color: lightgray;
}

#container{
	padding-left: 50%;
	margin-left: 5%;
}

a:link, a:visited{
	color: #0000AA;
	text-decoration: none !important;
}

a:hover, input:focus {
	color: #0000EE;
	text-decoration: none !important;
}